 

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Leonardo
############
site/Public/Images/Place/

site/Public/Images/Profile/
site/Public/Images/interests/


site/Public/Images/triptype/

site/Public/Images/triptypes/

site/Public/Images/travelertypes/

fb/composer\.lock

/vendor/
vendor
