 

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Leonardo
############
Libs/View/templates_c/*.php
site/Public/Images/Place/

site/Public/Images/Profile/
site/Public/Images/Interests/