 
/* 
    Created on : 04/03/2015, 09:45:14
    Author     : Leonardo
*/
body{
    font-size: 13px;
}

table.dataTable thead > tr > th{
    padding: 5px !important;
    font-size: 13px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
 
/*  Spinner */
.spinner {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/*  /Spinner */

/*  DataTables */
.dataTables_length, .dataTables_info{
    float: left;
}
.dataTables_info{
    margin-left: 40px;
}
.dataTables_paginate{
    float: right;
}
/*  /end DataTables */

 
.datepicker-icon {
    float: right;
    margin-right: 10px;
    margin-top: -29px;
    cursor: pointer;
}

.select2.select2-container.select2-container--default.select2-container--focus{
    width: 100% !important;
}
.max-char-text {
    position: absolute;
    right: 20px;
    top: 2px;
    font-size: smaller;
    color: #ccc;
}